.cartContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    min-height: 94vh;
    padding-top: 3rem;
}

.cartContainer h1{
    color: black;
}

.cart{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 5rem;
}

.cartItems{
    width: 60%;
}

.cartItem{
    background-color: black;
    display: flex;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    gap: 2rem;
    border-radius: 1rem;
}

.cartItem img{
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 1rem;
}

.cartItemTitle{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: white;
}

.cartItemTitle hr{
    background-color: #d4d2da;
    border: none;
    height: .1rem;
}

.itemTitle{
    font-size: 1.5rem;
    font-weight: 800;
}

.quantityContainer{
    margin-top: .5rem;
}

.cartItemInfo{
    display: flex;
    flex-direction: column;
}

.infoBox{
    width: fit-content;
    border-radius: 0 0.5rem 0.5rem 0;
    padding: 0 .5rem;
    margin-top: 1rem;
    font-size: 1.2rem ;
}

.modifyQuantity {
    display: inline;
    border-radius: .2rem;
    font-weight: 800;
    margin-right: 0.5rem;
    background-color: #6229ff;
    color: #FFF;
    padding: 0 .5rem;
    font-size: .9rem;
    transition: background-color .2s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.modifyQuantity:last-of-type{
    margin-left: 0.8rem;
}

.modifyQuantity:hover{
    cursor: pointer;
    background-color: #895eff;
}

.infoText{
    font-weight: 600;
}

.removeBtn{
    color: white;
    padding: 0.2rem 0rem;
    text-decoration: none;
    margin-top: .5rem;
    width: fit-content;
}

.removeBtn:hover{
    text-decoration: underline;
    cursor: pointer;
}

.breakdownContainer{
    width: 20%;
}

.breakdown{
    background-color: black;
    width: 100%;
    min-height: 200px;
    border-radius: 1rem;
    padding: 1rem;
    color: white;

}

.itemRow{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-row: auto;
}

.itemRow:first-of-type{
    border-top: none;
}

.itemRow p:first-of-type{
    justify-self: flex-start;
}

.divider {
    border-top: white .4rem solid;
}

.breakdown hr{
    border: .1rem solid rgb(155, 155, 155);
}

.itemRow p:last-of-type{
    justify-self: flex-end;
}

.checkoutBtn{
    background-color: #6229ff;
    color: white;
    border-radius: 1rem;
    padding: .5rem 2rem;
    font-weight: 600;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: background-color .2s;
    width: fit-content;
    margin: 1rem auto;
}

.checkoutBtn:hover{
    background-color: #895eff;
    cursor: pointer;
}

.itemRow{
    color: white;
}