.shop{
    min-height: 100vh;
    background-color: #5C5470;
}

.searchBar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 1rem 2rem;
    border-radius: 1rem;
    margin: auto;
    gap: 1rem;
    color: white;
}

.searchBar input{
    width: 50%;
    height: 2.5rem;
    border-radius: .5rem;
    padding-left: .5rem;
    outline: none;
}

.gamesContainer{
    padding: 2rem 0rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem 1rem;
    align-items: center;
    justify-content: center;
}