@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&family=Sora:wght@600&display=swap');

*{
    font-family: Poppins, sans-serif;
}

.gameCard{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    gap: 1rem;
    padding: 1rem;

    width: 500px;
    min-width: 300px;
    height: 600px;

    background-color: black;
    border-radius: 1rem;
    -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

@media screen and (max-width: 600px) {
    .gameCard{
        margin: 0 1rem;
        min-height: -webkit-fit-content;
        min-height: -moz-fit-content;
        min-height: fit-content;
    }
}

.gameTitle{
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}

.gameImage{
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: .5rem;
}

.gamePrice{
    font-weight: 600;
    color: white;
    font-size: 1.5rem;
}

.addToCart{
    background-color: #6229ff;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: .5rem 2rem;
    -ms-flex-item-align: start;
        align-self: flex-start;
    color: white;
    border-radius: 3px 0px 0px 3px;
    font-weight: 600;
    outline: none;
    border: none;
    -webkit-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}

.addToCart:focus{
    background-color: #ad90ff;
}

.addToCart:hover{
    cursor: pointer;
    background-color: #895eff;
}

.platforms p{
    color: white;
}

.platforms-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: .5rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.platform-name{
    color: white;
    border: 1px solid white;
    border-radius: 1rem;
    font-size: .8rem;
    padding: .5rem 1rem;
    -webkit-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}

.platform-name:hover{
    cursor: pointer;
    background-color: #6229ff;
}

.platform-name:focus{
    background-color: red;
}

.platform-name-selected{
    background-color: #6229ff;
}

.cardButtonSection{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    font-weight: 600;
}

.quantity{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #6229ff;
    height: 100%;    
    border-radius: 0px 3px 3px 0px;
    padding: 0 1rem;
    border-left: 2px solid #4419b9;
}