@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&family=Sora:wght@600&display=swap');

*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}

.navbar{
    width: 100%;
    min-height: 6vh;
    background-color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    z-index: 1;
}

.navbar a:first-of-type{
    margin-left: 2rem;
}

@media screen and (max-width: 900px) {
    .navbar{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 1rem;
    }
}

.navbar a{
    color:white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 800;
    -webkit-transition: text-shadow .2s;
    -o-transition: text-shadow .2s;
    transition: text-shadow .2s;
}

.navbar a:hover{
    text-shadow: 2px 4px #6229ff;
}

.links{
    margin-right: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
}

@media screen and (max-width:900px) {
    .links{
        padding-bottom: 1rem;
        margin: auto;
    }
}

.links a{
    color:white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 800;
    -webkit-transition: text-shadow .2s;
    -o-transition: text-shadow .2s;
    transition: text-shadow .2s;
}

.links a:hover{
    text-shadow: 2px 4px #6229ff;
}

.cartBtn{
    -webkit-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}

.cartBtn:hover{
    background-color: #6229ff;
}

.itemsCount{
    color: rgb(0, 156, 26);
}

.links a:last-of-type{
    padding: 0 1rem;
    border: 2px solid rgb(202, 202, 202);
}

.searchContainer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /*padding: 1rem;*/
    margin: auto;
    color: white;
    position: relative;
}

@media screen and (max-width:850px) {
    .searchContainer{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .searchContainer a:first-of-type{
        text-shadow: 2px 4px #6229ff;
    }
}

.searchBar{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 600px;
    position: relative;
}

@media screen and (max-width: 1200px) {
    .searchBar{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        min-width: 300px;
    }
}

.clearSearch{
    font-weight: 800;
    position: absolute;
    z-index: 1;
    color: black;
    right: 10%;
}

@media screen and (max-width:1200px) {
    .clearSearch{
        right: 20%;
    }
}

.clearSearch:hover{
    cursor: pointer;
}

.searchBar input{
    height: 2.5rem;
    border-radius: 0 0 0 0 ;
    padding-left: .5rem;
    outline: none;
    width: 100%;
}

.searchButton{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #6229ff;
    border-radius: 0 .5rem .5rem 0;
    cursor: pointer;
    height: 2.5rem;
    width: 50px;
    
    -webkit-transition: background-color .2s;
    
    -o-transition: background-color .2s;
    
    transition: background-color .2s;
}

.searchButton:hover{
    background-color: #895eff;
}

.dropdown{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
    width: 100%;
    position: absolute;
    top: 80%;
    border-radius: 0 0 .5rem .5rem;
}

.suggestionRow{
    background-color: white;
    color: black;
    width: 100%;
    cursor: pointer;
    font-size: .9rem;
    padding-left: 1rem;
}